{% extends 'discopro/base.html' %}

{% block title %}
  {% if form.instance.pk %}Editar Moto{% else %}Agregar Moto{% endif %}
{% endblock %}

{% block content %}
  <h1 class="lista-h1">{% if form.instance.pk %}Editar Moto{% else %}Agregar Nueva Moto{% endif %}</h1>
  <hr>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mt-3">
          {% if form.instance.pk %}Actualizar Moto{% else %}Guardar Moto{% endif %}
      </button>
      <a href="{% url 'moto_lista' %}" class="btn btn-secondary mt-3">Cancelar</a>
  </form>
{% endblock %}