/* --- Estilos del Dashboard --- */
.dashboard-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.dashboard-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    flex-basis: 250px;
    flex-grow: 1;
    border-left: 5px solid #3498db;
}

.dashboard-card .card-icon {
    font-size: 2.5rem;
    margin-right: 20px;
}


.dashboard-card .icon-farmacias { color: #e74c3c; }
.dashboard-card { border-left-color: #e74c3c; } 

.dashboard-card .icon-motoristas { color: #3498db; }
.dashboard-card:nth-child(2) { border-left-color: #3498db; } 

.dashboard-card .icon-motos { color: #f39c12; }
.dashboard-card:nth-child(3) { border-left-color: #f39c12; } 


.dashboard-card .card-info h3 {
    color: #95a5a6;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.dashboard-card .card-info p {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}


h1 {
    border-bottom: none;
    padding-bottom: 0;
}


.lista-h1 {
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 10px;
}
