{% extends 'discopro/base.html' %}

{% block title %}Asignar Farmacia a {{ motorista.nombres }}{% endblock %}

{% block content %}
  <h1 class="lista-h1">Asignar Farmacia a {{ motorista }}</h1>
  <hr>
  <p>Selecciona la farmacia y añade observaciones para esta nueva asignación.</p>

  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mt-3">Guardar Asignación</button>
      <a href="{% url 'detalle_motorista' motorista.pk %}" class="btn btn-secondary mt-3">Cancelar</a>
  </form>
{% endblock %}